
body {
  font-family: 'Oswald', sans-serif;
}
.nav {
  justify-content: space-between;
  align-items: center;
  text-align: left;
  width: 100%;
  background: linear-gradient(to right, orange, yellow);
}
.footer {
  background: linear-gradient(to right, orange, yellow);
  color: black;
  text-align: center;
  padding: 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-weight: none;
}
